KC_HOSTNAME=
KC_HOSTNAME_STRICT=false
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_HTTP_ENABLED=true
KC_CACHE=local
KC_PROXY_HEADERS=xforwarded

KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

KC_HTTP_RELATIVE_PATH=/auth
KEYCLOAK_AUTH_URL=
KEYCLOAK_AUTH_REDIRECT_URI=/auth/redirect
KEYCLOAK_AUTH_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

K8S_SECRET=True
