KEYCLOAK_DISABLED=true

KC_HOSTNAME=
KC_HOSTNAME_STRICT=false
KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true
KC_HTTP_ENABLED=true
KC_HTTP_RELATIVE_PATH=/keycloak

KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=

K8S_SECRET=True