# pertaining to the `redis` service
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_MAXMEMORY=0
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_AUTO_AOF_REWRITE_MIN_SIZE=64mb

REDIS_NETBOX_DATABASE=0
REDIS_ZEEK_FILES_DATABASE=1

# pertaining to the `redis-cache` service
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_PORT=6379
REDIS_CACHE_MAXMEMORY=0
REDIS_CACHE_MAXMEMORY_POLICY=allkeys-lru

REDIS_NETBOX_CACHE_DATABASE=0
REDIS_STRELKA_COORDINATOR_CACHE_DATABASE=1
REDIS_STRELKA_GATEKEEPER_CACHE_DATABASE=2
REDIS_FILESCAN_CACHE_DATABASE=3

# common to both services
REDIS_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXX
K8S_SECRET=True
